In [68]:
import os
import numpy as np
import pandas as pd

PATH = '/home/seunghan9613/S-D-Mamba/results'
os.chdir(PATH)

In [69]:
settings = os.listdir()
print(len(settings))

1585

In [70]:
def get_result(DATASET):
    settings_dataset = [x for x in settings if DATASET in x]
    fnames = [os.path.join(x,'metrics.npy') for x in settings_dataset]
    fnames = [x for x in fnames if os.path.isfile(x)]
    
    result_dict = dict()
    for f in fnames:
        mae, mse, rmse, mape, mspe = np.load(f)
        result_dict[f] = mse
    
    df = pd.DataFrame(pd.Series(result_dict).sort_values())
 
    df.reset_index(inplace=True)
    df['data'] = df['index'].apply(lambda x:x.split('_')[0])
    df['L'] = df['index'].apply(lambda x:int(x.split('_')[2]))
    df['reg'] = df['index'].apply(lambda x:x.split('_')[5])
    df['lamb'] = df['index'].apply(lambda x:x.split('_0')[1].replace('metrics.npy','').replace('/',''))
    
    lambda_list = []
    k1_list = []
    mask_list = []
    conv_list = []
    wo_TD1_list = []
    wo_TD2_list = []

    for x in df['index']:
        if 'wo_conv' in x:
            conv_list.append(0)
        else:
            conv_list.append(1)
        if 'wo_TD1' in x:
            wo_TD1_list.append(0)
        else:
            wo_TD1_list.append(1)
        if 'wo_TD2' in x:
            wo_TD2_list.append(0)
        else:
            wo_TD2_list.append(1)
            
    for x in df['lamb']:
        if 'lambda' in x:
            lamb = x.split('lambda')[1].split('_')[0]
        else:
            lamb = 0
        
        if 'mask' in x:
            mask = x.split('mask')[1].split('_')[0]
        else:
            mask = 0
        if 'lambda' in x:
            lamb = x.split('lambda')[1].split('_')[0]
        else:
            lamb = 0
        
        if 'mask' in x:
            mask = x.split('mask')[1].split('_')[0]
        else:
            mask = 0
        lambda_list.append(float(lamb))
        mask_list.append(float(mask))
    df['lamb'] = lambda_list
    df['mask'] = mask_list
    df['conv'] = conv_list
    df['TD1'] = wo_TD1_list
    df['TD2'] = wo_TD2_list
    
    df.drop('index',axis=1,inplace=True)
    df.columns = ['mse','data','L','reg','lamb','mask','conv','TD1','TD2']
    df = df[['data','L','reg','lamb','mask','conv','TD1','TD2','mse']]
    df = df.pivot_table(index=['data', 'reg','lamb','mask','conv','TD1','TD2'], columns='L', values='mse').reset_index()
    #================================================================================#
    df = df[(df['reg']!='reg')&(df['reg']!='reg2')]
    #================================================================================#
    return df


# SOLAR

In [71]:
df = get_result(DATASET='solar')
df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df

In [72]:
solar = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
solar.loc['base'] = [0.205,0.237,0.258,0.260]
solar.loc['repr'] = [0.207,0.240,0.262,0.267]

solar['avg'] = solar.mean(axis=1)
solar.sort_values('avg').round(3)

L                        96    192    336    720    avg
(reg4, 0.0, 0, 1, 0)  0.211  0.241  0.264    NaN  0.239
base                  0.205  0.237  0.258  0.260  0.240
(reg3, 0.0, 0, 1, 1)  0.206  0.239  0.259  0.263  0.242
(reg3, 0.0, 0, 0, 1)  0.208  0.239  0.260  0.265  0.243
(reg4, 0.0, 0, 1, 1)  0.207  0.240  0.261  0.265  0.243
(reg3, 0.0, 0, 1, 0)  0.208  0.240  0.261  0.266  0.244
(reg3, 0.0, 1, 1, 1)  0.208  0.241  0.262  0.266  0.244
repr                  0.207  0.240  0.262  0.267  0.244
(reg4, 0.0, 0, 0, 1)  0.210  0.241  0.261  0.266  0.244
(reg4, 0.0, 1, 1, 1)  0.210  0.243  0.263  0.266  0.246

# ETTh1:끝

In [73]:
df = get_result(DATASET='ETTh1')
#df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720
17,ETTh1,reg3,0.000,0.0,0,0,1,0.385077,0.434284,0.476952,0.477833
18,ETTh1,reg3,0.000,0.0,0,1,0,0.385802,0.435356,0.481337,0.482736
19,ETTh1,reg3,0.000,0.0,0,1,1,0.383067,0.433165,0.477481,0.476243
20,ETTh1,reg3,0.000,0.0,1,1,1,0.387338,0.441882,0.488259,0.504139
21,ETTh1,reg3,0.001,0.0,0,0,1,0.384745,0.433512,0.477542,0.477429
22,ETTh1,reg3,0.001,0.0,0,1,0,0.385327,0.434873,0.481665,0.483831
23,ETTh1,reg3,0.001,0.0,0,1,1,0.382553,0.432631,0.477787,0.476942
24,ETTh1,reg3,0.001,0.0,1,1,1,0.385426,0.438625,0.485168,0.498114
25,ETTh1,reg3,0.010,0.0,0,0,1,0.384760,0.433494,0.477588,0.477441
26,ETTh1,reg3,0.010,0.0,0,1,0,0.385307,0.434858,0.481688,0.483787
27,ETTh1,reg3,0.010,0.0,0,1,1,0.382514,0.432604,0.477811,0.476935
28,ETTh1,reg3,0.010,0.0,1,1,1,0.384135,0.435505,0.483341,0.494436
29,ETTh1,reg3,0.100,0.0,0,0,1,0.384757,0.433511,0.477686,0.477567
30,ETTh1,reg3,0.100,0.0,0,1,0,0.385290,0.434904,0.481721,0.483847
31,ETTh1,reg3,0.100,0.0,0,1,1,0.382521,0.432662,0.477907,0.477054
32,ETTh1,reg3,0.100,0.0,1,1,1,0.385652,0.437641,0.485563,0.497312
33,ETTh1,reg3,0.200,0.0,1,1,1,0.386218,0.438349,0.486563,0.498391
34,ETTh1,reg3,0.500,0.0,1,1,1,0.387616,0.440145,0.488539,0.500611
35,ETTh1,reg3,1.000,0.0,1,1,1,0.389567,0.442329,0.490457,0.502602
36,ETTh1,reg4,0.000,0.0,0,0,1,0.386364,0.435677,0.478738,0.488185
37,ETTh1,reg4,0.000,0.0,0,1,0,0.386778,0.436646,0.482763,0.486880
38,ETTh1,reg4,0.000,0.0,0,1,1,0.383817,0.434481,0.478761,0.488266
39,ETTh1,reg4,0.000,0.0,1,1,1,0.385802,0.437784,0.485287,0.496527
40,ETTh1,reg4,0.001,0.0,0,0,1,0.385518,0.434038,0.479435,0.481348
41,ETTh1,reg4,0.001,0.0,0,1,0,0.385874,0.435570,0.483079,0.488290
42,ETTh1,reg4,0.001,0.0,0,1,1,0.382809,0.432981,0.479265,0.482433
43,ETTh1,reg4,0.001,0.0,1,1,1,0.383920,0.435681,0.483302,0.496324
44,ETTh1,reg4,0.010,0.0,0,0,1,0.385532,0.434047,0.479446,0.481359
45,ETTh1,reg4,0.010,0.0,0,1,0,0.385870,0.435572,0.483086,0.488275
46,ETTh1,reg4,0.010,0.0,0,1,1,0.382811,0.432984,0.479293,0.482397
47,ETTh1,reg4,0.010,0.0,1,1,1,0.385159,0.436978,0.484987,0.496392
48,ETTh1,reg4,0.100,0.0,0,0,1,0.385545,0.434083,0.479590,0.481707
49,ETTh1,reg4,0.100,0.0,0,1,0,0.385869,0.435636,0.483192,0.488733
50,ETTh1,reg4,0.100,0.0,0,1,1,0.382847,0.433075,0.479462,0.482849
51,ETTh1,reg4,0.100,0.0,1,1,1,0.386419,0.438391,0.486404,0.497746
52,ETTh1,reg4,0.200,0.0,1,1,1,0.386930,0.438995,0.487162,0.498794
53,ETTh1,reg4,0.500,0.0,1,1,1,0.388119,0.440540,0.488942,0.500824
54,ETTh1,reg4,1.000,0.0,1,1,1,0.389863,0.442511,0.490898,0.502707

In [54]:
etth1 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
etth1.loc['base'] = [0.386,0.443,0.489,0.502]
etth1.loc['repr'] = [0.385,0.445,0.490,0.506]

etth1['avg'] = etth1.mean(axis=1)
etth1.sort_values('avg').round(3)

L                        96    192    336    720    avg
(reg3, 0.0, 0, 1, 1)  0.383  0.433  0.477  0.476  0.442
(reg3, 0.0, 0, 0, 1)  0.385  0.433  0.477  0.477  0.443
(reg4, 0.0, 0, 1, 1)  0.383  0.433  0.479  0.482  0.444
(reg4, 0.0, 0, 0, 1)  0.386  0.434  0.479  0.481  0.445
(reg3, 0.0, 0, 1, 0)  0.385  0.435  0.481  0.483  0.446
(reg4, 0.0, 0, 1, 0)  0.386  0.436  0.483  0.487  0.448
(reg3, 0.0, 1, 1, 1)  0.384  0.436  0.483  0.494  0.449
(reg4, 0.0, 1, 1, 1)  0.384  0.436  0.483  0.496  0.450
base                  0.386  0.443  0.489  0.502  0.455
repr                  0.385  0.445  0.490  0.506  0.456

In [55]:
df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]

L                             96       192       336       720
reg  mask conv TD1 TD2
reg3 0.0  0    0   1    0.384745  0.433494  0.476952  0.477429
               1   0    0.385290  0.434858  0.481337  0.482736
                   1    0.382514  0.432604  0.477481  0.476243
          1    1   1    0.384135  0.435505  0.483341  0.494436
reg4 0.0  0    0   1    0.385518  0.434038  0.478738  0.481348
               1   0    0.385869  0.435570  0.482763  0.486880
                   1    0.382809  0.432981  0.478761  0.482397
          1    1   1    0.383920  0.435681  0.483302  0.496324

# ETTh2:끝

In [74]:
df = get_result(DATASET='ETTh2')
df['avg'] = df.iloc[:,-4:].mean(axis=1)
##df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720,avg
27,ETTh2,reg3,0.000,0.0,0,0,1,0.303011,0.380066,0.430893,0.435796,0.387442
28,ETTh2,reg3,0.000,0.0,0,1,0,0.302679,0.378845,0.429342,0.435035,0.386475
29,ETTh2,reg3,0.000,0.0,0,1,1,0.299404,0.375304,0.423466,0.431809,0.382496
30,ETTh2,reg3,0.000,0.0,1,1,1,0.295924,0.378772,0.424342,0.434238,0.383319
31,ETTh2,reg3,0.001,0.0,0,0,1,0.303013,0.380177,0.430876,0.435540,0.387402
32,ETTh2,reg3,0.001,0.0,0,1,0,0.302493,0.378946,0.429246,0.434500,0.386296
33,ETTh2,reg3,0.001,0.0,0,1,1,0.299265,0.375332,0.423482,0.431589,0.382417
34,ETTh2,reg3,0.001,0.0,1,1,1,0.296264,0.378721,0.424368,0.433717,0.383267
35,ETTh2,reg3,0.010,0.0,0,0,1,0.302628,0.380289,0.430774,0.435284,0.387244
36,ETTh2,reg3,0.010,0.0,0,1,0,0.302375,0.379077,0.429192,0.434351,0.386249
37,ETTh2,reg3,0.010,0.0,0,1,1,0.299215,0.375464,0.423501,0.431499,0.382420
38,ETTh2,reg3,0.010,0.0,1,1,1,0.296864,0.377220,0.424742,0.429337,0.382041
39,ETTh2,reg3,0.100,0.0,0,0,1,0.302639,0.380322,0.430834,0.435299,0.387273
40,ETTh2,reg3,0.100,0.0,0,1,0,0.302402,0.379145,0.429343,0.434414,0.386326
41,ETTh2,reg3,0.100,0.0,0,1,1,0.299218,0.375485,0.423553,0.431479,0.382434
42,ETTh2,reg3,0.100,0.0,1,1,1,0.297614,0.378145,0.425236,0.423967,0.381240
43,ETTh2,reg3,0.200,0.0,0,0,1,0.302658,0.380350,0.430892,0.435321,0.387305
44,ETTh2,reg3,0.200,0.0,1,1,1,0.297551,0.378290,0.425196,0.424009,0.381261
45,ETTh2,reg3,0.500,0.0,0,0,1,0.302703,0.380424,0.431028,0.435389,0.387386
46,ETTh2,reg3,0.500,0.0,1,1,1,0.297376,0.378517,0.425234,0.424132,0.381315
47,ETTh2,reg3,1.000,0.0,1,1,1,0.297330,0.379064,0.425628,0.424338,0.381590
48,ETTh2,reg4,0.000,0.0,0,0,1,0.301834,0.381528,0.431852,0.433836,0.387263
49,ETTh2,reg4,0.000,0.0,0,1,0,0.301708,0.379489,0.429996,0.432591,0.385946
50,ETTh2,reg4,0.000,0.0,0,1,1,0.298385,0.375359,0.423675,0.429719,0.381784
51,ETTh2,reg4,0.000,0.0,1,1,1,0.298066,0.378987,0.424996,0.435019,0.384267
52,ETTh2,reg4,0.001,0.0,0,0,1,0.301857,0.381757,0.431850,0.433894,0.387339
53,ETTh2,reg4,0.001,0.0,0,1,0,0.301082,0.379910,0.429954,0.432591,0.385884
54,ETTh2,reg4,0.001,0.0,0,1,1,0.298301,0.375617,0.423806,NaN,0.365908
55,ETTh2,reg4,0.001,0.0,1,1,1,0.296851,0.378249,0.425237,0.430627,0.382741
56,ETTh2,reg4,0.010,0.0,0,0,1,0.301970,0.381940,0.431826,0.433882,0.387404
57,ETTh2,reg4,0.010,0.0,0,1,0,0.301118,0.380129,0.429987,0.432589,0.385956
58,ETTh2,reg4,0.010,0.0,1,1,1,0.298236,0.378741,0.425923,0.424281,0.381795
59,ETTh2,reg4,0.100,0.0,0,0,1,0.301993,0.381992,0.431932,0.433901,0.387455
60,ETTh2,reg4,0.100,0.0,0,1,0,0.301184,0.380262,0.430271,0.432681,0.386100
61,ETTh2,reg4,0.100,0.0,0,1,1,NaN,NaN,0.423966,0.429725,0.426845
62,ETTh2,reg4,0.100,0.0,1,1,1,0.298214,0.379245,0.426130,0.424371,0.381990
63,ETTh2,reg4,0.200,0.0,1,1,1,0.298088,0.379237,NaN,NaN,0.338663

In [33]:
etth2 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
etth2.loc['base'] = [0.296,0.376,0.424,0.426]
etth2.loc['repr'] = [0.297,0.378,0.425,0.432]
etth2['avg'] = etth2.mean(axis=1)
etth2.sort_values('avg').round(3)

L                        96    192    336    720    avg
(reg3, 0.0, 1, 1, 1)  0.296  0.377  0.424  0.424  0.380
base                  0.296  0.376  0.424  0.426  0.380
(reg4, 0.0, 1, 1, 1)  0.297  0.378  0.425  0.424  0.381
(reg4, 0.0, 0, 1, 1)  0.298  0.375  0.424  0.430  0.382
(reg3, 0.0, 0, 1, 1)  0.299  0.375  0.423  0.431  0.382
repr                  0.297  0.378  0.425  0.432  0.383
(reg4, 0.0, 0, 1, 0)  0.301  0.379  0.430  0.433  0.386
(reg3, 0.0, 0, 1, 0)  0.302  0.379  0.429  0.434  0.386
(reg3, 0.0, 0, 0, 1)  0.303  0.380  0.431  0.435  0.387
(reg4, 0.0, 0, 0, 1)  0.302  0.382  0.432  0.434  0.387

# ETTm1:끝

In [57]:
df = get_result(DATASET='ETTm1')
#df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720
22,ETTm1,reg3,0.000,0.0,0,0,1,0.329432,0.378779,0.413313,0.475297
23,ETTm1,reg3,0.000,0.0,0,1,1,0.335776,0.375879,0.411619,0.475082
24,ETTm1,reg3,0.000,0.0,1,1,1,0.340110,0.380959,0.413125,0.476076
25,ETTm1,reg3,0.001,0.0,0,0,1,0.326708,0.377912,0.412152,0.474471
26,ETTm1,reg3,0.001,0.0,0,1,1,0.326254,0.374792,0.409671,0.472952
27,ETTm1,reg3,0.001,0.0,1,1,1,0.335884,0.377068,0.409150,0.473309
28,ETTm1,reg3,0.010,0.0,0,0,1,0.326937,0.378007,0.412186,0.474460
29,ETTm1,reg3,0.010,0.0,0,1,1,0.326043,0.374799,0.409674,0.472934
30,ETTm1,reg3,0.010,0.0,1,1,1,0.329043,0.374556,0.409043,0.471893
31,ETTm1,reg3,0.100,0.0,0,0,1,0.326900,0.377999,0.412174,0.474338
32,ETTm1,reg3,0.100,0.0,0,1,1,0.326008,0.374673,0.409649,0.472938
33,ETTm1,reg3,0.100,0.0,1,1,1,0.333210,0.378708,0.412133,0.473523
34,ETTm1,reg3,0.200,0.0,1,1,1,0.333785,0.379630,0.412846,0.474526
35,ETTm1,reg4,0.000,0.0,0,0,1,0.328815,0.376292,0.409928,0.473982
36,ETTm1,reg4,0.000,0.0,0,1,1,0.327525,0.374433,0.408538,0.473722
37,ETTm1,reg4,0.000,0.0,1,1,1,0.327740,0.374194,0.405649,0.470008
38,ETTm1,reg4,0.001,0.0,0,0,1,0.325654,0.377788,0.413060,0.474373
39,ETTm1,reg4,0.001,0.0,0,1,1,0.325511,0.374450,0.409834,0.472659
40,ETTm1,reg4,0.001,0.0,1,1,1,0.325584,0.372104,0.403883,0.467469
41,ETTm1,reg4,0.010,0.0,0,0,1,0.328403,0.378637,0.413149,0.474351
42,ETTm1,reg4,0.010,0.0,0,1,1,0.336350,0.375151,0.410008,0.472657
43,ETTm1,reg4,0.010,0.0,1,1,1,0.325496,0.377369,0.411155,0.473147
44,ETTm1,reg4,0.100,0.0,0,0,1,0.328456,0.378570,0.413156,0.474185
45,ETTm1,reg4,0.100,0.0,0,1,1,0.336422,0.374975,0.409971,0.472554
46,ETTm1,reg4,0.100,0.0,1,1,1,0.334858,0.379785,0.412548,0.474140

In [18]:
ettm1 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
ettm1.loc['base'] = [0.333,0.376,0.408,0.475]
ettm1.loc['repr'] = [0.331,0.378,0.410,0.474]

ettm1['avg'] = ettm1.mean(axis=1)
ettm1.sort_values('avg').round(3)

L                        96    192    336    720    avg
(reg4, 0.0, 0, 0, 1)  0.329  0.376    NaN    NaN  0.353
(reg4, 0.0, 1, 1, 1)  0.325  0.372  0.404  0.467  0.392
(reg4, 0.0, 0, 1, 1)  0.326  0.374  0.409  0.473  0.395
(reg3, 0.0, 0, 1, 1)  0.326  0.375  0.410  0.473  0.396
(reg3, 0.0, 1, 1, 1)  0.329  0.375  0.409  0.472  0.396
(reg3, 0.0, 0, 0, 1)  0.327  0.378  0.412  0.474  0.398
base                  0.333  0.376  0.408  0.475  0.398
repr                  0.331  0.378  0.410  0.474  0.398

# ETTm2:끝

In [58]:
df = get_result(DATASET='ETTm2')
#df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720
22,ETTm2,reg3,0.000,0.0,0,0,1,0.179924,0.247936,0.310903,0.404929
23,ETTm2,reg3,0.000,0.0,0,1,1,0.180878,0.246762,0.309604,0.404334
24,ETTm2,reg3,0.000,0.0,1,1,1,0.182222,0.247787,0.312041,0.412966
25,ETTm2,reg3,0.001,0.0,0,0,1,0.179384,0.247061,0.310937,0.405578
26,ETTm2,reg3,0.001,0.0,0,1,1,0.179959,0.246478,0.309623,0.404962
27,ETTm2,reg3,0.001,0.0,1,1,1,0.177449,0.246952,0.310139,0.412875
28,ETTm2,reg3,0.010,0.0,0,0,1,0.179121,0.247319,0.310977,0.405636
29,ETTm2,reg3,0.010,0.0,0,1,1,0.179116,0.246613,0.309648,0.405021
30,ETTm2,reg3,0.010,0.0,1,1,1,0.178298,0.247897,0.310601,0.406902
31,ETTm2,reg3,0.100,0.0,0,0,1,0.179123,0.247288,0.310991,0.405629
32,ETTm2,reg3,0.100,0.0,0,1,1,0.179103,0.246641,0.309699,0.405043
33,ETTm2,reg3,0.100,0.0,1,1,1,0.179059,0.249142,0.311534,0.408099
34,ETTm2,reg3,0.200,0.0,1,1,1,0.179647,0.249621,0.311893,0.407956
35,ETTm2,reg4,0.000,0.0,0,0,1,0.179974,0.247394,0.310293,0.404889
36,ETTm2,reg4,0.000,0.0,0,1,1,0.179742,0.246547,0.309900,0.404321
37,ETTm2,reg4,0.000,0.0,1,1,1,0.178435,0.249221,0.312677,0.413884
38,ETTm2,reg4,0.001,0.0,0,0,1,0.179259,0.247382,0.310042,0.406078
39,ETTm2,reg4,0.001,0.0,0,1,1,0.179001,0.246805,0.310066,0.405996
40,ETTm2,reg4,0.001,0.0,1,1,1,0.177595,0.247911,0.310805,0.409702
41,ETTm2,reg4,0.010,0.0,0,0,1,0.179244,0.247539,0.310075,0.406250
42,ETTm2,reg4,0.010,0.0,0,1,1,0.178827,0.246929,0.310087,0.406031
43,ETTm2,reg4,0.010,0.0,1,1,1,0.178513,0.248496,0.311182,0.407084
44,ETTm2,reg4,0.100,0.0,0,0,1,0.179264,0.247479,0.310095,0.406284
45,ETTm2,reg4,0.100,0.0,0,1,1,0.178799,0.246960,0.310131,0.406078
46,ETTm2,reg4,0.100,0.0,1,1,1,0.179414,0.249478,0.311834,0.408234
47,ETTm2,reg4,0.200,0.0,1,1,1,0.179885,0.249948,0.312122,0.408679

In [59]:
ettm2 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
ettm2.loc['base'] = [0.179,0.250,0.312,0.411]
ettm2.loc['repr'] = [0.182,0.252,0.313,0.413]

ettm2['avg'] = ettm2.mean(axis=1)
ettm2.sort_values('avg').round(3)

L                        96    192    336    720    avg
(reg3, 0.0, 0, 1, 1)  0.179  0.246  0.310  0.404  0.285
(reg4, 0.0, 0, 1, 1)  0.179  0.247  0.310  0.404  0.285
(reg3, 0.0, 1, 1, 1)  0.177  0.247  0.310  0.407  0.285
(reg4, 0.0, 0, 0, 1)  0.179  0.247  0.310  0.405  0.285
(reg3, 0.0, 0, 0, 1)  0.179  0.247  0.311  0.405  0.286
(reg4, 0.0, 1, 1, 1)  0.178  0.248  0.311  0.407  0.286
base                  0.179  0.250  0.312  0.411  0.288
repr                  0.182  0.252  0.313  0.413  0.290

# Exchange:끝

In [60]:
df = get_result(DATASET='Exchange')
#df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720
12,Exchange,reg3,0.0000,0.0,0,0,1,0.086257,0.179098,0.329639,0.853478
13,Exchange,reg3,0.0000,0.0,0,1,0,0.087421,0.180510,0.330409,0.857456
14,Exchange,reg3,0.0000,0.0,0,1,1,0.087696,0.180354,0.331563,0.859750
15,Exchange,reg3,0.0000,0.0,1,1,1,0.085893,0.179632,0.330319,0.857946
16,Exchange,reg3,0.0001,0.0,0,0,1,0.086029,0.178877,0.329642,0.853405
17,Exchange,reg3,0.0001,0.0,0,1,0,0.087027,0.180389,0.330380,0.857457
18,Exchange,reg3,0.0001,0.0,0,1,1,0.087644,0.180224,0.331564,0.859843
19,Exchange,reg3,0.0001,0.0,1,1,1,0.085756,0.179351,0.330338,0.857633
20,Exchange,reg3,0.0010,0.0,0,0,1,0.085589,0.179122,0.329766,0.853626
21,Exchange,reg3,0.0010,0.0,0,1,0,0.086168,0.179805,0.330396,0.857103
22,Exchange,reg3,0.0010,0.0,0,1,1,0.087504,0.180943,0.331613,0.859700
23,Exchange,reg3,0.0010,0.0,1,1,1,0.085089,0.178334,0.330107,0.856375
24,Exchange,reg3,0.0100,0.0,0,0,1,0.085762,0.179060,0.329776,0.852406
25,Exchange,reg3,0.0100,0.0,0,1,0,0.086111,0.179971,0.330439,0.854630
26,Exchange,reg3,0.0100,0.0,0,1,1,0.087504,0.180789,0.331603,0.858623
27,Exchange,reg3,0.0100,0.0,1,1,1,0.084289,0.177738,0.329676,0.854651
28,Exchange,reg3,0.1000,0.0,0,0,1,0.085548,0.178815,0.329654,0.851933
29,Exchange,reg3,0.1000,0.0,0,1,0,0.085900,0.179706,0.330162,0.853668
30,Exchange,reg3,0.1000,0.0,0,1,1,0.087361,0.180593,0.331530,0.858533
31,Exchange,reg3,0.1000,0.0,1,1,1,0.084632,0.177718,0.330147,0.855159
32,Exchange,reg3,0.2000,0.0,1,1,1,0.084681,0.177925,0.330523,0.855497
33,Exchange,reg4,0.0000,0.0,0,0,1,0.086046,0.178746,0.328423,0.849275
34,Exchange,reg4,0.0000,0.0,0,1,0,0.088688,0.180318,0.328962,0.855248
35,Exchange,reg4,0.0000,0.0,0,1,1,0.087859,0.180680,0.330576,0.859893
36,Exchange,reg4,0.0000,0.0,1,1,1,0.086604,0.180022,0.330017,0.858090
37,Exchange,reg4,0.0001,0.0,0,0,1,0.085601,0.177942,0.328406,0.849123
38,Exchange,reg4,0.0001,0.0,0,1,0,0.087887,0.179825,0.328964,0.855108
39,Exchange,reg4,0.0001,0.0,0,1,1,0.087394,0.180526,0.330629,0.860112
40,Exchange,reg4,0.0001,0.0,1,1,1,0.086320,0.179636,0.329977,0.857290
41,Exchange,reg4,0.0010,0.0,0,0,1,0.084650,0.177606,0.328892,0.849578
42,Exchange,reg4,0.0010,0.0,0,1,0,0.085180,0.178499,0.329324,0.853797
43,Exchange,reg4,0.0010,0.0,0,1,1,0.087188,0.179794,0.330879,0.859136
44,Exchange,reg4,0.0010,0.0,1,1,1,0.085748,0.177652,0.329764,0.855007
45,Exchange,reg4,0.0100,0.0,0,0,1,0.085024,0.178024,0.328998,0.849144
46,Exchange,reg4,0.0100,0.0,0,1,0,0.085413,0.178885,0.329435,0.851345
47,Exchange,reg4,0.0100,0.0,0,1,1,0.087185,0.179720,0.330915,0.857650
48,Exchange,reg4,0.0100,0.0,1,1,1,0.084611,0.177525,0.329536,0.853721
49,Exchange,reg4,0.1000,0.0,0,0,1,0.084774,0.177728,0.328860,0.848671
50,Exchange,reg4,0.1000,0.0,0,1,0,0.085092,0.178442,0.329191,0.849926
51,Exchange,reg4,0.1000,0.0,0,1,1,0.087093,0.179461,0.330875,0.857338
52,Exchange,reg4,0.1000,0.0,1,1,1,0.084611,0.177702,0.330170,0.854765
53,Exchange,reg4,0.2000,0.0,1,1,1,0.084687,0.177957,0.330531,0.855246

In [47]:
exchange = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
exchange.loc['base'] = [0.086,0.182,0.332,0.867]
exchange.loc['repr'] = [0.086,0.182,0.331,0.858]
exchange['avg'] = exchange.mean(axis=1)
exchange.sort_values('avg').round(3)

L                        96    192    336    720    avg
(reg4, 0.0, 0, 0, 1)  0.085  0.178  0.328  0.849  0.360
(reg4, 0.0, 0, 1, 0)  0.085  0.178  0.329  0.850  0.361
(reg4, 0.0, 1, 1, 1)  0.085  0.178  0.330  0.854  0.361
(reg3, 0.0, 0, 0, 1)  0.086  0.179  0.330  0.852  0.361
(reg3, 0.0, 1, 1, 1)  0.084  0.178  0.330  0.855  0.362
(reg3, 0.0, 0, 1, 0)  0.086  0.180  0.330  0.854  0.362
(reg4, 0.0, 0, 1, 1)  0.087  0.179  0.331  0.857  0.364
repr                  0.086  0.182  0.331  0.858  0.364
(reg3, 0.0, 0, 1, 1)  0.087  0.180  0.332  0.859  0.364
base                  0.086  0.182  0.332  0.867  0.367

# Electricity:끝

In [63]:
df = get_result(DATASET='ECL')
#df['avg'] = df.iloc[:,-4:].mean(axis=1)
##df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720
7,ECL,reg3,0.00000,0.0,0,1,1,0.140577,0.158071,0.176756,0.200767
8,ECL,reg3,0.00000,0.0,1,1,1,0.140307,0.166016,0.188246,0.204360
9,ECL,reg3,0.00001,0.0,0,1,1,0.139218,0.160311,0.177112,0.220369
10,ECL,reg3,0.00001,0.0,1,1,1,0.140336,0.163813,0.180960,0.206525
11,ECL,reg3,0.00010,0.0,0,0,1,NaN,NaN,NaN,0.220525
12,ECL,reg3,0.00010,0.0,0,1,0,0.140786,0.161007,0.179012,0.199768
13,ECL,reg3,0.00010,0.0,1,1,1,0.141148,0.163226,0.181862,0.208554
14,ECL,reg3,0.00100,0.0,0,1,0,0.169412,0.159976,0.177004,0.209062
15,ECL,reg3,0.00100,0.0,1,1,1,0.143103,0.160167,0.184371,0.210105
16,ECL,reg3,0.01000,0.0,0,1,0,0.180891,0.172180,0.188864,0.228719
17,ECL,reg3,0.01000,0.0,1,1,1,0.148226,0.174767,0.191026,0.232429
18,ECL,reg3,0.10000,0.0,0,1,0,0.250379,NaN,NaN,NaN
19,ECL,reg3,0.10000,0.0,1,1,1,0.164059,0.176049,0.192273,0.233921
20,ECL,reg3,0.20000,0.0,1,1,1,0.164463,0.176539,0.192564,0.234284
21,ECL,reg4,0.00010,0.0,0,0,1,NaN,0.163882,NaN,NaN
22,ECL,reg4,0.00010,0.0,0,1,0,0.145065,0.159183,0.176914,0.223666
23,ECL,reg4,0.00010,0.0,0,1,1,0.141969,0.159027,0.174684,0.204656
24,ECL,reg4,0.00010,0.0,1,1,1,0.143546,0.160519,0.177028,0.224926
25,ECL,reg4,0.00100,0.0,0,1,0,0.145638,0.163352,0.181384,0.224006
26,ECL,reg4,0.00100,0.0,0,1,1,0.142869,0.161810,0.179817,NaN
27,ECL,reg4,0.00100,0.0,1,1,1,0.143757,0.161419,0.178145,0.210500
28,ECL,reg4,0.01000,0.0,0,1,0,0.178468,0.172465,0.189513,0.229491
29,ECL,reg4,0.01000,0.0,1,1,1,0.163495,0.175164,0.191477,0.233265
30,ECL,reg4,0.10000,0.0,0,1,0,0.172938,0.172548,0.189728,NaN
31,ECL,reg4,0.10000,0.0,1,1,1,0.164555,0.176757,0.192848,0.234490

In [64]:
ecl = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
ecl.loc['base'] = [0.139,0.159,0.176,0.204]
ecl.loc['repr'] = [0.139,0.165,0.177,0.214]
ecl['avg'] = ecl.mean(axis=1)
ecl.sort_values('avg').round(3)

L                        96    192    336    720    avg
(reg4, 0.0, 0, 0, 1)    NaN  0.164    NaN    NaN  0.164
(reg3, 0.0, 0, 1, 1)  0.139  0.158  0.177  0.201  0.169
(reg3, 0.0, 0, 1, 0)  0.141  0.160  0.177  0.200  0.169
base                  0.139  0.159  0.176  0.204  0.170
(reg4, 0.0, 0, 1, 1)  0.142  0.159  0.175  0.205  0.170
(reg3, 0.0, 1, 1, 1)  0.140  0.160  0.181  0.204  0.171
(reg4, 0.0, 1, 1, 1)  0.144  0.161  0.177  0.211  0.173
repr                  0.139  0.165  0.177  0.214  0.174
(reg4, 0.0, 0, 1, 0)  0.145  0.159  0.177  0.224  0.176
(reg3, 0.0, 0, 0, 1)    NaN    NaN    NaN  0.221  0.221

# Traffic

In [65]:
df = get_result(DATASET='traffic')
df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720,avg
1,traffic,reg3,0.00000,0.0,0,1,1,0.378223,0.406840,0.500342,0.455693,0.435274
2,traffic,reg3,0.00000,0.0,1,1,1,0.382479,0.413353,0.415231,0.461808,0.418218
3,traffic,reg3,0.00001,0.0,0,1,1,0.381898,0.411846,0.485708,0.458410,0.434466
4,traffic,reg3,0.00001,0.0,1,1,1,0.382611,NaN,NaN,NaN,0.382611
5,traffic,reg3,0.00010,0.0,0,1,1,0.379015,0.410296,0.497404,0.455798,0.435628
6,traffic,reg3,0.00010,0.0,1,1,1,0.382164,NaN,NaN,NaN,0.382164
7,traffic,reg3,0.00100,0.0,0,1,1,0.382881,0.399321,0.416170,0.456157,0.413632
8,traffic,reg3,0.00100,0.0,1,1,1,0.382721,NaN,NaN,NaN,0.382721
9,traffic,reg3,0.01000,0.0,1,1,1,0.397432,NaN,NaN,NaN,0.397432
10,traffic,reg3,0.10000,0.0,1,1,1,0.430824,NaN,NaN,NaN,0.430824
11,traffic,reg4,0.00000,0.0,0,1,1,0.388106,0.412137,0.427293,0.460191,0.421932
12,traffic,reg4,0.00000,0.0,1,1,1,0.389599,0.411181,0.427423,0.462158,0.422590
13,traffic,reg4,0.00001,0.0,0,1,1,0.388194,0.411825,NaN,NaN,0.400009
14,traffic,reg4,0.00001,0.0,1,1,1,0.389594,NaN,NaN,NaN,0.389594
15,traffic,reg4,0.00010,0.0,1,1,1,0.388942,NaN,NaN,NaN,0.388942
16,traffic,reg4,0.00100,0.0,1,1,1,0.389983,NaN,NaN,NaN,0.389983
17,traffic,reg4,0.01000,0.0,1,1,1,0.406094,NaN,NaN,NaN,0.406094
18,traffic,reg4,0.10000,0.0,1,1,1,0.432054,NaN,NaN,NaN,0.432054

In [29]:
traffic = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
traffic.loc['base'] = [0.382,0.396,0.417,0.460]
traffic.loc['repr'] = [0.379,0.409,0.418,0.461]
traffic['avg'] = traffic.mean(axis=1)
traffic.sort_values('avg').round(3)

L                        96    192    336    720    avg
base                  0.382  0.396  0.417  0.460  0.414
repr                  0.379  0.409  0.418  0.461  0.417
(reg3, 0.0, 1, 1, 1)  0.382  0.413  0.415  0.462  0.418
(reg4, 0.0, 1, 1, 1)  0.389  0.411  0.427  0.462  0.422

# Weather:끝

In [66]:
df = get_result(DATASET='weather')
#df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,96,192,336,720
11,weather,reg3,0.00000,0.0,1,1,1,0.172437,0.218870,0.275262,0.354263
12,weather,reg3,0.00001,0.0,1,1,1,0.172501,0.218964,0.275808,0.353772
13,weather,reg3,0.00010,0.0,1,1,1,0.172601,0.219113,0.274965,0.352851
14,weather,reg3,0.00100,0.0,1,1,1,0.172253,0.221015,0.275639,0.354464
15,weather,reg3,0.01000,0.0,1,1,1,0.177705,0.228039,0.283312,0.360263
16,weather,reg3,0.10000,0.0,1,1,1,0.181943,0.230394,0.284075,0.360440
17,weather,reg3,0.20000,0.0,1,1,1,0.182196,0.230686,0.284377,0.360328
18,weather,reg4,0.00010,0.0,1,1,1,0.173029,0.221201,0.277354,0.356294
19,weather,reg4,0.00100,0.0,1,1,1,0.173602,0.221062,0.276074,0.355045
20,weather,reg4,0.01000,0.0,1,1,1,0.180756,0.230677,0.284356,0.360637
21,weather,reg4,0.10000,0.0,1,1,1,0.182700,0.231629,0.284614,0.360636
22,weather,reg4,0.20000,0.0,1,1,1,0.183093,0.231677,0.284869,0.360542

In [32]:
weather = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[96,192,336,720]]
weather.loc['base'] = [0.165,0.214,0.274,0.350]
weather.loc['repr'] = [0.165,0.215,0.273,0.353]

weather['avg'] = weather.mean(axis=1)
weather.sort_values('avg').round(3)

L                        96    192    336    720    avg
base                  0.165  0.214  0.274  0.350  0.251
repr                  0.165  0.215  0.273  0.353  0.252
(reg3, 0.0, 1, 1, 1)  0.172  0.219  0.275  0.353  0.255
(reg4, 0.0, 1, 1, 1)  0.173  0.221  0.276  0.355  0.256

# PEMS03

In [75]:
df = get_result(DATASET='PEMS03')
df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,12,24,48,96,avg
0,PEMS03,reg3,0.0000,0.0,1,1,1,0.066354,0.090002,0.168946,0.233092,0.139598
1,PEMS03,reg3,0.0001,0.0,0,0,1,NaN,NaN,0.174798,0.307755,0.241277
2,PEMS03,reg3,0.0001,0.0,1,1,1,0.065734,0.089528,0.169128,0.233509,0.139475
3,PEMS03,reg3,0.0010,0.0,0,0,1,NaN,NaN,0.177218,NaN,0.177218
4,PEMS03,reg3,0.0010,0.0,1,1,1,0.066712,0.091037,0.171987,NaN,0.109912
5,PEMS03,reg3,0.0100,0.0,0,0,1,NaN,NaN,0.217713,NaN,0.217713
6,PEMS03,reg4,0.0000,0.0,1,1,1,0.066529,0.089355,0.171963,0.548403,0.219062
7,PEMS03,reg4,0.0001,0.0,1,1,1,0.065991,0.089599,0.173156,0.228339,0.139271
8,PEMS03,reg4,0.0010,0.0,1,1,1,0.067116,0.091250,0.178545,0.215833,0.138186
9,PEMS03,reg4,0.0100,0.0,1,1,1,0.069094,NaN,NaN,NaN,0.069094

In [76]:
pems03 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[12,24,48,96]]
pems03.loc['base'] = [0.065,0.087,0.133,0.201]
pems03.loc['repr'] = [0.066,0.088,0.165,0.213]

pems03['avg'] = pems03.mean(axis=1)
pems03.sort_values('avg').round(3)

L                        12     24     48     96    avg
base                  0.065  0.087  0.133  0.201  0.122
repr                  0.066  0.088  0.165  0.213  0.133
(reg4, 0.0, 1, 1, 1)  0.066  0.089  0.172  0.216  0.136
(reg3, 0.0, 1, 1, 1)  0.066  0.090  0.169  0.233  0.139
(reg3, 0.0, 0, 0, 1)    NaN    NaN  0.175  0.308  0.241

# PEMS04

In [77]:
df = get_result(DATASET='PEMS04')
df['avg'] = df.iloc[:,-4:].mean(axis=1)
df[(df['reg']=='reg3')&(df['lamb']==0)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)].round(3)

L    data   reg  lamb  mask  conv  TD1  TD2     12     24     48    96    avg
0  PEMS04  reg3   0.0   0.0     1    1    1  0.075  0.087  0.107  0.14  0.102

In [78]:
pems04 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[12,24,48,96]]
pems04.loc['base'] = [0.076,0.084,0.115,0.137]
pems04.loc['repr'] = [0.073,0.084,0.101,0.125]

pems04['avg'] = pems04.mean(axis=1) 
pems04.sort_values('avg').round(3)

L                        12     24     48     96    avg
(reg4, 0.0, 1, 1, 1)  0.075  0.087    NaN    NaN  0.081
repr                  0.073  0.084  0.101  0.125  0.096
(reg3, 0.0, 1, 1, 1)  0.075  0.087  0.107  0.136  0.101
base                  0.076  0.084  0.115  0.137  0.103
(reg3, 0.0, 0, 0, 1)  0.148    NaN    NaN    NaN  0.148

# PEMS07

In [79]:
df = get_result(DATASET='PEMS07')
df['avg'] = df.iloc[:,-4:].mean(axis=1)
df[(df['reg']=='reg3')&(df['lamb']==0)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)].round(3)
df

L,data,reg,lamb,mask,conv,TD1,TD2,12,24,48,avg
0,PEMS07,reg3,0.0000,0.0,1,1,1,0.060373,0.083557,0.109756,0.313422
1,PEMS07,reg3,0.0001,0.0,1,1,1,0.061012,NaN,NaN,0.530506

In [80]:
pems07 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[12,24,48,96]]
pems07.loc['base'] = [0.063,0.081,0.093,0.117]
pems07.loc['repr'] = [0.060,0.082,0.100,0.117]

pems07['avg'] = pems07.mean(axis=1)
pems07.sort_values('avg').round(3)

KeyError: '[96] not in index'

# PEMS08

In [81]:
df = get_result(DATASET='PEMS08')
df['avg'] = df.iloc[:,-4:].mean(axis=1)
#df[(df['reg']=='reg3')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)
#df[(df['reg']=='reg4')&(df['lamb']==0)&(df['conv']==0)&(df['TD1']==1)&(df['TD2']==1)].round(3)

In [82]:
pems08 = df.groupby(['reg','mask','conv','TD1','TD2']).min()[[12,24,48,96]]
pems08.loc['base'] = [0.076,0.104,0.167,0.245]
pems08.loc['repr'] = [0.076,0.109,0.173,0.271]

pems08['avg'] = pems08.mean(axis=1)
pems08.sort_values('avg').round(3)

L                        12     24     48     96    avg
base                  0.076  0.104  0.167  0.245  0.148
repr                  0.076  0.109  0.173  0.271  0.157
(reg3, 0.0, 1, 1, 1)  0.077  0.111  0.167  0.283  0.160
(reg4, 0.0, 1, 1, 1)  0.079  0.116  0.178  0.273  0.162

In [96]:
etth1.index = etth1.index.astype('str')
etth2.index = etth2.index.astype('str')
ettm1.index = ettm1.index.astype('str')
ettm2.index = ettm2.index.astype('str')
exchange.index = exchange.index.astype('str')
ecl.index = ecl.index.astype('str')
weather.index = weather.index.astype('str')
traffic.index = traffic.index.astype('str')
pems03.index = pems03.index.astype('str')
#pems04.index = pems04.index.astype('str')
#pems07.index = pems07.index.astype('str')
pems08.index = pems08.index.astype('str')

In [100]:
etth1 = etth1.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
etth2 = etth2.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
ettm1 = ettm1.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
ettm2 = ettm2.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
exchange = exchange.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
ecl = ecl.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
weather = weather.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
traffic = traffic.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
pems03 = pems03.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
#pems04 = pems04.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
#pems07 = pems07.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]
#pems08 = pems08.loc[["('reg3', 0.0, 0)","('reg4', 0.0, 0)",'base','repr']]

In [101]:
etth1.index = ['add2','add1','paper','reproduced']
etth2.index = ['add2','add1','paper','reproduced']
ettm1.index = ['add2','add1','paper','reproduced']
ettm2.index = ['add2','add1','paper','reproduced']
exchange.index = ['add2','add1','paper','reproduced']
ecl.index = ['add2','add1','paper','reproduced']
weather.index = ['add2','add1','paper','reproduced']
traffic.index = ['add2','add1','paper','reproduced']
pems03.index = ['add2','add1','paper','reproduced']
#pems04.index = ['add2','add1','paper','reproduced']
#pems07.index = ['add2','add1','paper','reproduced']
#pems08.index = ['add2','add1','paper','reproduced']

In [108]:
etth1.index.name = 'etth1'
etth2.index.name = 'etth2'
ettm1.index.name = 'ettm1'
ettm2.index.name = 'ettm2'
exchange.index.name = 'exchange'
ecl.index.name = 'ecl'
weather.index.name = 'weather'
traffic.index.name = 'traffic'
pems03.index.name = 'pems03'
#pems04.index.name = 'pems04'
#pems07.index.name = 'pems07'
#pems08.index.name = 'pems08'

In [111]:
display(etth1.round(3))
display(etth2.round(3))
display(ettm1.round(3))
display(ettm2.round(3))
display(exchange.round(3))
display(ecl.round(3))
display(weather.round(3))
#display(traffic.round(3))
#display(pems03.round(3))

L              96    192    336    720    avg
etth1
add2        0.384  0.436  0.483  0.494  0.449
add1        0.384  0.436  0.483  0.496  0.450
paper       0.386  0.443  0.489  0.502  0.455
reproduced  0.385  0.445  0.490  0.506  0.456

L              96    192    336    720    avg
etth2
add2        0.296  0.377  0.424  0.424  0.380
add1        0.297  0.378  0.425  0.424  0.381
paper       0.296  0.376  0.424  0.426  0.380
reproduced  0.297  0.378  0.425  0.432  0.383

L              96    192    336    720    avg
ettm1
add2        0.329  0.375  0.409  0.472  0.396
add1        0.325  0.372  0.404  0.467  0.392
paper       0.333  0.376  0.408  0.475  0.398
reproduced  0.331  0.378  0.410  0.474  0.398

L              96    192    336    720    avg
ettm2
add2        0.177  0.247  0.310  0.407  0.285
add1        0.178  0.248  0.311  0.407  0.286
paper       0.179  0.250  0.312  0.411  0.288
reproduced  0.182  0.252  0.313  0.413  0.290

L              96    192    336    720    avg
exchange
add2        0.084  0.178  0.330  0.855  0.362
add1        0.085  0.178  0.330  0.854  0.361
paper       0.086  0.182  0.332  0.867  0.367
reproduced  0.086  0.182  0.331  0.858  0.364

L              96    192    336    720    avg
ecl
add2        0.140  0.160  0.181  0.204  0.171
add1        0.144  0.161  0.177  0.211  0.173
paper       0.139  0.159  0.176  0.204  0.170
reproduced  0.139  0.165  0.177  0.214  0.174

L              96    192    336    720    avg
weather
add2        0.172  0.219  0.275  0.353  0.255
add1        0.173  0.221  0.276  0.355  0.256
paper       0.165  0.214  0.274  0.350  0.251
reproduced  0.165  0.215  0.273  0.353  0.252